<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
        <link href="../dist/css/AdminLTE.min.css" rel="stylesheet"/>
        <link href="../dist/css/skins/_all-skins.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
        <link href="../dist/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet"/>
        <link href="../dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
        <title>Ingresar</title>
    </h:head>

    <h:body>
        <ui:composition template="plantilla1">
            <ui:define name="contenido">
                <div class="login-box">
                <div class="login-logo">
                    <a href="../../index2.html"><b>Aplicacion</b>WEB</a>
                </div>
                
                <div class="login-box-body" id="box">
                    <p class="login-box-msg">Ingresa a tu perfil</p>

                    <form action="paginaPrincipal.jsp" method="post">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Email"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">

                        </div>

                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <a href="registrar.jsp" class="text-center">Registrarse</a>

            </div>
            <!-- /.login-box-body -->
        </div>
            </ui:define>
        </ui:composition>
    </h:body>

</html>
